.games {
  padding: 110px 24px 24px;
  font-family: 'Roboto Condensed', 'Poppins', sans-serif;
  width: 100%;
  min-height: 100vh;
  background-color: var(--pmbet-cream);
  box-sizing: border-box;

  @include mobile {
    padding: 110px 10px 24px
  }
}

.gamesNav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 25px;
  //
  //@include mobile {
  //  padding: 0 12px;
  //}
}

.gamesNav__list {
  margin: 0 0 0 27px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  list-style-type: none;
  overflow-x: auto;
  max-width: calc(100% - 59px);

  &::-webkit-scrollbar {
    display: none;
  }

  @include mobile {
    margin: 0 0 0 15px;
  }
}

.gamesNav__item {
  min-width: max-content;

  &:not(:first-child) {
    margin-left: 16px;
  }

  @include mobile {
    &:not(:first-child) {
      margin-left: 15px;
    }
  }

  &.active {
    position: sticky;
    left: 0;
    right: 0;

    .gamesNav__button {
      background-color: var(--pmbet-green2);
      color: var(--pmbet-white2);
    }
  }
}

.gamesNav__button {
  font-size: 14px;
  font-weight: bold;
  color: var(--pmbet-gray-lighter2);
  text-transform: capitalize;
  background-color: var(--pmbet-white2);
  padding: 5px 15px;
  border-radius: 3px;

  @include mobile {
    font-size: 16px;
    padding: 5px 10px;
  }
}

.gamesNav__next {
  margin-left: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    right: 100%;
    top: 50%;
    transform: translateY(-50%);
    width: 100px;
    height: 28px;
    background: linear-gradient(to left,var(--pmbet-cream) 10%,rgba(33,33,33,0) 70%);
  }
}

.gamesNavNext__button {
  width: 20px;
  height: 26px;
  border: none;
  outline: none;
  background-color: var(--pmbet-green2);
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    stroke: var(--pmbet-white);
  }
}

.favorite__button {
  padding: 4px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  background-color: transparent;

  svg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    fill: var(--pmbet-white);
  }
}

.favorite {
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--pmbet-white);

  &.active {
    position: relative;

    svg {
      fill: var(--pmbet-yellow);
    }

    &::after {
      position: absolute;
      top: 3px;
      right: -6px;
      content: attr(data-count);
      width: 15px;
      height: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 11px;
      font-weight: 700;
      border-radius: 50%;
      color: var(--pmbet-white);
      background-color: var(--pmbet-green);
      z-index: 2;
    }
  }

  &.add {

    button {
      width: 28px;
      height: 28px;

      @include mobile {
        width: 25px;
        height: 25px;
      }
    }

    svg {
      fill: var(--pmbet-cream);
    }

    &.active {
      svg {
        fill: var(--pmbet-yellow);
      }

      &::after {
        display: none;
      }
    }

  }
}

.games__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;

  @include mobile {
    width: 100%;
    //margin: 0 12px;
  }
}

.games__item {
  display: flex;
  flex-direction: column;
  width: calc(100% / 5 - 68px / 5);
  border-radius: 3px;
  margin: 0 17px 25px 0;
  overflow: hidden;

  &:nth-child(5n){
    margin-right: 0;

    @include mobile {
      margin-right: 14px;
    }
  }

  &:nth-last-child(-n + 5) {
    margin-bottom: 0;

    @include mobile {
      margin-bottom: 13px;
    }
  }

  &.new {
    position: relative;

    &::after {
      position: absolute;
      content: 'new';
      top: 8%;
      left: -15%;
      width: 50%;
      height: 22px;
      font-size: 22px;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      background-color: var(--pm-games-new-bg);
      color: var(--pm-games-status-text-color);
      transform: rotate(-45deg);
    }

  }

  @include mobile {
    width: calc(100% / 2 - 14px / 2);
    margin: 0 14px 13px 0;

    &:nth-child(2n){
      margin-right: 0;
    }

    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }

    &.new {
      &::after {
        width: 51%;
        font-size: 16px;
      }
    }

  }

}

.games__picture {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &::after {
    content: '';
    display: block;
    padding-top: 57.65%;
  }

  span {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

}

.games__footer {
  padding: 0 10px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 35px;
  background-color: var(--pmbet-white2);

  @include mobile {
    padding: 0 5px;
  }
}

 .games__name {
   display: inline-flex;
   align-items: center;
   justify-content: space-between;
   width: 100%;
   font-size: 16px;
   font-weight: bold;
   color: var(--pmbet-blue);
 }

 .games__stars {
   display: inline-flex;
   width: 20px;
   height: 19px;
   fill: var(--pmbet-gray-lighter2);
   opacity: 0.1;

   &:active {
     fill: var(--pmbet-yellow);
     opacity: 100%;
   }
 }

.games__load {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
 }

.games__LoadButton {
  width: 200px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  background-color: var(--pmbet-green);
  font-size: 22px;
  font-weight: bold;
  color: var(--pmbet-white);
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 8px;

  @include mobile {
    width: 156px;
    height: 50px;
    font-size: 18px;
  }
}

